@import "tailwindcss";

@theme {
  /* Adicionando as cores da ONG na v4 */
  --color-lilac-light: #f3e8ff;
  --color-lilac-main: #e0bbe4;
  --color-baby-blue: #b2cefe;
  --color-blue: #2563ea

  /* Mantendo as variáveis padrão do Next.js */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* 3D Flip Card Styles */
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Line clamp utility */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
